# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# IDE
.idea/
*.iml
.vscode/

# Misc
.DS_Store
